[workspace]
members = ["contracts/*",  ]
# members = ["contracts/campaign*", "contracts/standard-traits*" ]
resolver = "2"

[workspace.dependencies]
soroban-sdk = "21.4.0"
soroban-token-sdk = { version = "21.4.0" }

[workspace.dev_dependencies]
soroban-sdk = "21.4.0"
soroban-token-sdk = { version = "21.4.0" }



[profile.release]
opt-level = "z"
overflow-checks = true
debug = 0
strip = "symbols"
debug-assertions = false
panic = "abort"
codegen-units = 1
lto = true

[profile.release-with-logs]
inherits = "release"
debug-assertions = true